<!DOCTYPE html>
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1")
        title JavaScript Handbook
        link(rel="stylesheet" type="text/css" href="../css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="../css/style.css")
        script(type="text/javascript" src="../js/jquery.js")
    body
        // START SITE
        .site
            // START HEADER
            header
            
            // START WRAPPER
            main.wrapper(role="main")
                section.main-content#notes-module
                    .wrap
                        .notes-wrapper
                            .notes-header
                                button.edit-btn.icon-btn#note-edit-btn(
                                    data-target-field="noteList")
                                    i.far.fa-edit
                                button.btn.btn-success#note-done-btn Done
                            .notes-body
                                ul#noteList
                            .new-form-container.notes-form
                            .section-title
                                h4 Add a New Note
                            form#new-form.new-form
                                .form-field
                                    input.form-control#add-title(
                                        type="text" 
                                        placeholder="Title" 
                                        required)
                                .form-field
                                    .select-menu
                                        select#add-category.form-control(required)
                                            option(value="Category") Category
                                            option(value="JavaScript") JavaScript
                                            option(value="jQuery") jQuery
                                .form-field
                                    textarea.form-control#add-introduction(name="introduction" placeholder="Introduction")
                                .form-field
                                    textarea.form-control.syntax-editor#add-syntax(name="syntax" placeholder="Syntax")
                                .form-field
                                    textarea.form-control.description-editor#add-description(name="description" placeholder="Description")
                                .form-field
                                    button.btn.btn-success(type="submit" value="Add New") Add New
            // START FOOTER
            footer
    script(defer src="../js/fontawesome-all.min.js")
    script.
        var notes = !{JSON.stringify(notes)}
        console.log(notes);
    script(src="../js/script.js")